
 <div>
  <div >
    <form name="signupForm">
      <div class="fieldset" ng-class="{'has-error':formData.password.$invalid && !formData.password.$pristine}">
        <label>Password</label>
        <input type="password" id="password" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="20"  placeholder="password" required />

        <p ng-show="signupForm.password.$error.required" class="error"></p>
        <p ng-show="signupForm.password.$error.minlength" class="error">
          Passwords must be between 5 and 20 characters.</p>
        
      </div>

      <div class="fieldset" ng-class="{'has-error':formData.password_c.$invalid && !formData.password_c.$pristine}">
        <label for="password_c">Confirm Password</label>
        <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" placeholder="confirm password" valid-password-c="user.password" required />

        <p ng-show="signupForm.password_c.$error.noMatch" class="error"><span>Passwords do not match.</span>
          <p ng-show="signupForm.password_c.$error.required" class="error"></p>
      </div>
      <button type="submit" ng-click="changePass(user)" class="btn" ng-disabled="!signupForm.$valid">Submit</button>
    </form>
  </div>
</div>
