<div style="margin-top:100px"></div>
<div>



<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Name</th>
			<th>type</th>
			<th>mfg</th>
			<th>producer</th>
			<th>dosage</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="medicine in medicines">
			<td><a ng-href="#/patient/{{patient.id}}"></a>{{medicine.name | uppercase}}</td>
			<td>{{medicine.typename}}</td>
			<td>{{medicine.typeId }}</td>
			<td>{{medicine.mfg }}</td>
			<td>{{medicine.producer}}</td>
			<td>{{medicine.dosage}}</td>
			<td><button ng-click="increaseData(product.id)"
				class="glyphicon glyphicon-plus btn btn-sm btn-success"></button>
				<div>{{patient.id}}</div> 
				<button ng-click="decreaseData(product.id)"
				class="glyphicon glyphicon-minus btn btn-sm btn-warning"></button>
			<td><button ng-click="" class="glyphicon glyphicon-trash btn btn-danger"></button></td>
		</tr>
	</tbody>
</table>
</div>