<!-- Content Medicine -->
<section class="content-header">
   <h1>
      Medicine Management
      <small>Control panel</small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Medicine</li>
   </ol>
</section>
<!-- Main content -->
<section class="content">
   <div class="row">
   
      <!-- Add Medicine -->
      <div class="col-md-6">
         <div class="box box-success">
            <div class="box-header with-border">
               <i class="fa fa-warning"></i>
               <h3 class="box-title">Add New Medicine</h3>
            </div>
            <!-- /.box-header -->
            <form class="form-horizontal">
               <div class="box-body">
                  <div class="form-group">
                     <label class="col-sm-2 control-label">Name<span class="required">*</span></label>
                     <div class="col-sm-10">
                        <input class="form-control" ng-model="medicine.name" type="text" required>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">Type<span class="required">*</label>
                     <div class="col-sm-10">
                        <select class="selectpicker form-control col-md-7 col-xs-12" 
                           ng-model="medicine.typeId" ng-options="typemedicine.typename for typemedicine in typemedicines" data-live-search="true">
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">Producer<span class="required">*</span></label>
                     <div class="col-sm-10">
                        <input class="form-control" ng-model="medicine.producer" type="text" required>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">Dosage<span class="required">*</span></label>
                     <div class="col-sm-10">
                        <input class="form-control" ng-model="medicine.dosage" type="text" required>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">MFG<span class="required">*</span></label>
                     <div class="col-sm-10">
                        <input ng-model="medicine.mfg" type="date" required>
                     </div>
                  </div>
               </div>
               <!-- /.box-body -->
               <div class="box-footer">
                  <button type="reset" class="btn btn-default">Reset</button>
                  <button type="submit" ng-click="createMedicine()" class="btn btn-success pull-right">Create</button>
               </div>
               <!-- /.box-footer -->
            </form>
            <!-- /.box-body -->
         </div>
         <!-- /.box -->
      </div>
      <!-- /.col -->
      
      
      <!-- Add Type Medicine -->
      <div class="col-md-6">
         <div class="box box-success">
            <div class="box-header with-border">
               <i class="fa fa-bullhorn"></i>
               <h3 class="box-title">Add New Medicine Category</h3>
            </div>
            <!-- /.box-header -->
            <form class="form-horizontal">
               <div class="box-body">
                  <div class="form-group">
                     <label class="col-sm-4 control-label">Type Medicine Name<span class="required">*</span></label>
                     <div class="col-sm-8">
                        <input class="form-control" ng-model="typemedicine.typename" type="text" required>
                     </div>
                  </div>
               </div>
               <!-- /.box-body -->
               <div class="box-footer">
                  <button type="reset" class="btn btn-default">Reset</button>
                  <button type="submit" ng-click="createTypeMedicine()" class="btn btn-success pull-right">Create</button>
               </div>
               <!-- /.box-footer -->
            </form>
            <!-- /.form-body -->
         </div>
         <!-- /.box -->
         <div class="box box-primary">
            <div class="box-header">
               <h3 class="box-title">List Category Medicine</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <table class="  table table-bordered  table-striped tableBodyScroll">
                  <thead>
                     <tr>
                        <th class="col-xs-8 column-title">Type Name</th>
                        <th class="col-xs-4 column-title no-link last">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="typemedicine in typemedicines">
                        <td class="col-xs-8">
                           {{typemedicine.typename}}
                        </td>
                        <td class="col-xs-4">
                           <button type="button" ng-click="getTypeOne(typemedicine.id)" class="btn btn-primary" 
                              data-toggle="modal" data-target="#TypeMedicineModal">
                           <span><i class="fa fa-wrench" aria-hidden="true"></i></i></span>
                           </button>
                           <button ng-click="deleteTypeMedicine(typemedicine.id)"
                              class="glyphicon glyphicon-trash btn btn-danger"></button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- /.box-body -->
         </div>
      </div>
      <!-- /.col -->
   </div>
   
   
   
   <!-- Medicine List -->
   <div class="box box-primary">
      <div class="box-header">
         <h3 class="box-title">List Medicine</h3>
      </div>
      
      <!-- Search -->
      <div class="col-md-12 col-sm-12 col-xs-12 ser-medicine" >
         <div class="col-md-8 col-sm-8 col-xs-12 none-padding">
            <div class="input-group">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-danger">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
               </div>
               <input ng-model="search" class="form-control" type="text" placeholder="Search here...">
            </div>
         </div>
      </div>
      
      <!-- /.box-header -->
      <div class="box-body">
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th ng-click="sort('name')">Name
                     <span class="glyphicon pull-right"  ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('typename')">Type
                     <span class="glyphicon pull-right" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th  ng-click="sort('mfg')">Manufacture
                     <span class="glyphicon pull-right" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('producer')">producer
                     <span class="glyphicon pull-right" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('dosage')">Dosage
                     <span class="glyphicon pull-right" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr dir-paginate="medicine in medicines|orderBy:sortKey:reverse|filter:search|itemsPerPage:3">
                  <td><a ng-href="#/medicine/{{medicine.id}}"></a>{{medicine.name
                     | uppercase}}
                  </td>
                  <td>{{medicine.typeId.typename}}</td>
                  <td>{{medicine.mfg }}</td>
                  <td>{{medicine.producer}}</td>
                  <td>{{medicine.dosage}}</td>
                  <td>
                     <button type="button" ng-click="getOne(medicine.id)" class="btn btn-primary" 
                        data-toggle="modal" data-target="#MedicineModal">
                     <span><i class="fa fa-wrench" aria-hidden="true"></i></span>
                     </button>
                     <button ng-click="deleteMedicine(medicine.id)"
                        data-toggle="tooltip" title="Delete Medicine!"
                        class="glyphicon glyphicon-trash btn btn-danger"></button>
                  </td>
               </tr>
            </tbody>
         </table>
         
         <div class="align">
            <dir-pagination-controls
               max-size="5"
               direction-links="true"
               boundary-links="true" >
            </dir-pagination-controls>
         </div>
         
      </div>
      <!-- /.box-body -->
   </div>
</section>



<!-- UPDATE TYPE MEDICINE -->
<div class="modal fade" id="TypeMedicineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <button style="color:#fff;" type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
         <h3 class="modal-title" id="myModalLabel">Update Type of Medicine</h3>
      </div>
      <div class="modal-body">
         <form class="form-horizontal form-label-left">
         <div class="form-group" >
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Medicine <span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
               <input ng-model="curentTypeMedicine.typename" type="text"
                  required class="form-control col-md-7 col-xs-12">
            </div>
         </div>
         <div class="modal-footer">
            <button ng-click="getPatient()" class="btn btn-primary btn-in-modal" type="reset">
            <span><i class="fa fa-refresh" aria-hidden="true"></i></span>
            Clear
            </button>
            <button type="button" ng-click="updateTypeMedicine(curentTypeMedicine.id,curentTypeMedicine)" data-dismiss="modal" class="btn btn-success btn-in-modal">
            <span><i class="glyphicon glyphicon-floppy-save" aria-hidden="true"></i></span>
            Save changes
            </button>
         </div>
         </form>
      </div>
   </div>
</div>
</div>


<!-- UPDATE MEDICINE -->
<div class="modal fade" id="MedicineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <button style="color:#fff;" type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
         <h3 class="modal-title" id="myModalLabel">Update Medicine</h3>
      </div>
      <div class="modal-body">
         <form class="form-horizontal form-label-left">
         <div class="form-group" >
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name of Medicine <span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
               <input ng-model="curentMedicine.name" type="text"
                  required class="form-control col-md-7 col-xs-12">
            </div>
         </div>
         <div class="form-group" >
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Medicine <span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
               <select class="selectpicker form-control" 
                  ng-model="curentMedicine.typeId" ng-options="typemedicine.typename for typemedicine in typemedicines"
                  data-live-search="true">
               </select>
            </div>
         </div>
         <div class="form-group" >
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Producer<span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
               <input ng-model="curentMedicine.producer" type="text"
                  required class="form-control col-md-7 col-xs-12">
            </div>
         </div>
         <div class="form-group" >
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Dosage<span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
               <input ng-model="curentMedicine.dosage" type="text"
                  required class="form-control col-md-7 col-xs-12">
            </div>
         </div>
         <div class="form-group" >
            <label class="control-label col-md-3 col-sm-3 col-xs-12">MFG<span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
               <input ng-model="curentMedicine.mfg" type="text"
                  required class="form-control col-md-7 col-xs-12">
            </div>
         </div>
         <div class="modal-footer">
            <button ng-click="getPatient()" class="btn btn-primary btn-in-modal" type="reset">
            <span><i class="fa fa-refresh" aria-hidden="true"></i></span>
            Clear
            </button>
            <button type="button" ng-click="updateMedicine(curentMedicine.id,curentMedicine )" data-dismiss="modal" class="btn btn-success btn-in-modal">
            <span><i class="glyphicon glyphicon-floppy-save" aria-hidden="true"></i></span>
            Save changes
            </button>
         </div>
         </form>
      </div>
   </div>
</div>
</div>