<style>
.well {
	background: none;
	height: 210px;
}

.table-scroll tbody {
	position: absolute;
	overflow-y: scroll;
	height: 150px;
}

.table-scroll tr {
	width: 100%;
	table-layout: fixed;
	display: inline-table;
}

.table-scroll thead>tr>th {
	border: none;
}
</style>
<div>
	<!-- Navigation -->
<!-- UPDATE TYPE MEDICINE -->
	<div id="page-wrapper">
		<!-- Modal popup type medicine form -->
		<form>
			<div class="modal fade" id="TypeMedicineModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Update Type of Medicine</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="type-name">Type Name <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input ng-model="curentTypeMedicine.typename" type="text"
										id="type-name" required="required"
										class="form-control col-md-7 col-xs-12">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							<button type="button"
								ng-click="updateTypeMedicine(curentTypeMedicine.id,curentTypeMedicine)"
								class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	<!-- UPDATE MEDICINE -->
		<form>
			<div class="modal fade" id="MedicineModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Update Medicine</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="medicine-name">Name <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input ng-model="curentMedicine.name" type="text"
										id="medicine-name" required="required"
										class="form-control col-md-7 col-xs-12">
								</div>
							</div>
							<br>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="type-name">Type Name<span class="required">*</span>
								</label>
								<!-- <div class="col-md-6 col-sm-6 col-xs-12">
									<input ng-model="curentTypeMedicine.typeName" type="text"
										id="type-name" name="Type Name" required="required"
										class="form-control col-md-7 col-xs-12">
								</div> -->
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="selectpicker form-control col-md-7 col-xs-12" 
									ng-model="curentMedicine.typeId" ng-options="typemedicine.typename for typemedicine in typemedicines"
									 data-live-search="true">
									<!-- <option ng-repeat="typemedicine in typemedicines" 
									value={{typemedicine}} data-live-search="true">{{typemedicine.typename}}</option> -->
									
									
									</select>
								<!-- <span>selected: {{curentMedicine.typeId}}</span> -->
								</div>
							</div>
							<br>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="producer">Producer<span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input ng-model="curentMedicine.producer" type="text"
										id="producer" name="Producer" required="required"
										class="form-control col-md-7 col-xs-12">
								</div>
							</div>
							<br>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="dosage">Dosage<span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input ng-model="curentMedicine.dosage" type="text"
										id="dosage" name="Dosage" required="required"
										class="form-control col-md-7 col-xs-12">
								</div>
							</div>
							<br>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">
								MFG<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input ng-model="curentMedicine.mfg" type="date"
										class="datepicker" data-date-format="mm/dd/yyyy">

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							<button type="button"
								ng-click="updateMedicine(curentMedicine.id,curentMedicine )"
								class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- end popup form -->

		<div class="container-fluid">

			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h1 style="width: 250px" class="btn btn-primary">NEW MEDICINE</h1>

						</div>
						<div style="border: 1px dotted #2f3a54; border-radius: 5px;"
							class="rounded">
							<br />
<!-- CREATE MEDICINE form -->
							<form id="demo-form2" ng-submit="submitForm()"
								data-parsley-validate class="form-horizontal form-label-left">

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" 
										for="name">Name <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input ng-model="medicine.name" type="text" id="first-name" 
											required="required" class="form-control col-md-7 col-xs-12">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"
										for="type">Type<span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<select class="selectpicker form-control col-md-7 col-xs-12" 
										ng-model="medicine.typeId" ng-options="typemedicine.typename for typemedicine in typemedicines" data-live-search="true">
				
										</select>

									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"
										for="producer">Producer<span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input ng-model="medicine.producer" type="text" id="address" name="address"
											required="required" class="form-control col-md-7 col-xs-12">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"
										for="dosage">Dosage<span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input ng-model="medicine.dosage" type="text" id="address" name="address"
											required="required" class="form-control col-md-7 col-xs-12">
									</div>
								</div>


								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">mfg
										<span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input ng-model="medicine.mfg" type="date" class="datepicker"
											data-date-format="mm/dd/yyyy">

									</div>
								</div>
								<div class="ln_solid"></div>
								<br>
								<div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
										<!-- 										<button class="btn btn-primary" type="button">Cancel</button> -->
										<button ng-click="getMedicine()" class="btn btn-primary"
											type="reset">Reset</button>
										<button type="submit" ng-click="createMedicine()"
											class="btn btn-success">Submit</button>
									</div>
								</div>

							</form>
						</div>
					</div>
					<br>

				</div>
<!--CREATE TYPE MEDICINE -->
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h1 style="width: 250px" class="btn btn-primary">TYPE
								MEDICINE</h1>

						</div>
						<div style="border: 1px dotted #2f3a54; border-radius: 5px;"
							class="rounded">
							<br />
							<form id="demo-form2"
								data-parsley-validate class="form-horizontal form-label-left">

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"
										for="typename">TypeName <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input ng-model="typemedicine.typename" type="text" id="typename"
											required="required" class="form-control col-md-7 col-xs-12">
									</div>
								</div>

								<div class="ln_solid"></div>
								<div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
										<!-- 										<button class="btn btn-primary" type="button">Cancel</button> -->
										<button ng-click="getTypeMedicine()" class="btn btn-primary"
											type="reset">Reset</button>
											
										<button type="submit" ng-click="createTypeMedicine()"
											class="btn btn-success">Submit</button>
									</div>
								</div>
							</form>
							<div class="table-responsive col-xs-12 well">
	<!-- TYPE MEDICINE table -->
								<table
									class="table table-scroll table-striped jambo_table bulk_action">
									<thead>
										<tr>
											<th class="col-xs-8 column-title">Type Name</th>
											<th class="col-xs-4 column-title no-link last">Action</th>

										</tr>
									</thead>

									<tbody>
										<tr class="headings" ng-repeat="typemedicine in typemedicines">
											<td class="col-xs-8"><a
												ng-href="#/typemedicine/{{typemedicine.id}}"></a>{{typemedicine.typename}}</td>
											<td class="col-xs-4">
												<button type="button" ng-click="getTypeOne(typemedicine.id)" class="btn btn-primary" 
												data-toggle="modal" data-target="#TypeMedicineModal">
									  				<span><i class="fa fa-wrench" aria-hidden="true"></i></i></span>
												</button>
												<button ng-click="deleteTypeMedicine(typemedicine.id)"
													data-toggle="tooltip" title="Delete Type Medicine!"
													class="glyphicon glyphicon-trash btn btn-danger"></button>

											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--       LIST MEDICINE  table -->
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
				
					<div class="x_title">
						<h1 style="width: 250px" class="btn btn-primary">LIST
							MEDICINE</h1>
						<div class="clearfix"></div>
	
					</div>
				<form class="form-wrapper cf">
					    <button type="submit">
					    	<i class="fa fa-search" aria-hidden="true"></i>
					    </button>
					  	<input type="text" ng-model="search" placeholder="Search here..." class="form-control" required> 
				</form>
					<div class="x_content">

						<div class="table-responsive">
							<table class="table table-striped jambo_table bulk_action">
								<thead>
									<tr class="headings">
										<th class="column-title" ng-click="sort('name')">Name
										<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th class="column-title" ng-click="sort('typename')">Type
										<span class="glyphicon sort-icon" ng-show="sortKey=='typeName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th class="column-title" ng-click="sort('mfg')">Manufacture
										<span class="glyphicon sort-icon" ng-show="sortKey=='mfg'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th class="column-title" ng-click="sort('producer')">producer
										<span class="glyphicon sort-icon" ng-show="sortKey=='producer'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th class="column-title" ng-click="sort('dosage')">Dosage
										<span class="glyphicon sort-icon" ng-show="sortKey=='dosage'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
										</th>
										<th class="column-title no-link last"><span class="nobr">Action</span>
										</th>

									</tr>
								</thead>

								<tbody>
									<tr dir-paginate="medicine in medicines|orderBy:sortKey:reverse|filter:search|itemsPerPage:3">
										<td><a ng-href="#/medicine/{{medicine.id}}"></a>{{medicine.name
											| uppercase}}</td>
										<td>{{medicine.typeId.typename}}</td>
										<td>{{medicine.mfg }}</td>
										<td>{{medicine.producer}}</td>
										<td>{{medicine.dosage}}</td>
										<td>
											<button type="button" ng-click="getOne(medicine.id)" class="btn btn-primary" 
											data-toggle="modal" data-target="#MedicineModal">
									  			<span><i class="fa fa-wrench" aria-hidden="true"></i></i></span>
											</button>
											<button ng-click="deleteMedicine(medicine.id)"
												data-toggle="tooltip" title="Delete Medicine!"
												class="glyphicon glyphicon-trash btn btn-danger"></button>

										</td>
									</tr>

								</tbody>
							</table>
							<dir-pagination-controls
						       max-size="5"
						       direction-links="true"
						       boundary-links="true" >
						    </dir-pagination-controls>
						</div>


					</div>
				</div>
			</div>
			<!--end table-->

			<!-- Modal -->

		</div>
	</div>
</div>
