<div style="margin-top:100px"></div>
<div>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>address</th>
			<th>sex</th>
			<th>dob</th>
			<th>id</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="patient in patients">
			<td><a ng-href="#/patient/{{patient.id}}"></a>{{patient.name | uppercase}}</td>
			<td>{{patient.address}}</td>
			<td>{{patient.sex }}</td>
			<td>{{patient.dob}}</td>
			<td><button ng-click="increaseData(product.id)"
				class="glyphicon glyphicon-plus btn btn-sm btn-success"></button>
				<div>{{patient.id}}</div> 
				<button ng-click="decreaseData(product.id)"
				class="glyphicon glyphicon-minus btn btn-sm btn-warning"></button>
			<td><button ng-click="" class="glyphicon glyphicon-trash btn btn-danger"></button></td>
		</tr>
	</tbody>
</table>
</div>