<div ng-app="myapp">
   <form name="myForm">
   
       
       
       <label for="password">Password</label>
       <input type="password" id="password" name="password" ng-model="formData.password" ng-minlength="3" ng-maxlength="20" required  />
   <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
       <br />
       
       
       <label for="password_c">Confirm Password</label>
       <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c required  />
   <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
   <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
       <br />
       
   <button type="submit" class="btn" ng-disabled="!myForm.$valid">Submit</button>
	</form>
	<div >

        <input type="file" id="file1" name="file" multiple
            ng-files="getTheFiles($files)" />

        <input type="button" ng-click="uploadFiles()" value="Upload" />
    </div>
    
	<form name="uploadingForm" enctype="multipart/form-data" action="/uploadfile" method="POST">
            <p>
                <input id="fileInput" type="file" name="uploadingFiles" onchange="updateSize();" multiple>
                selected files: <span id="fileNum">0</span>;
                total size: <span id="fileSize">0</span>
            </p>
            <p>
                <input type="submit" value="Upload files">
            </p>
        </form>
   </div>