
<div id="page-wrapper">

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Add Treatment</h2>

					</div>
					<div class="x_content">
						<br />
						<form id="demo-form2" data-parsley-validate
							class="form-horizontal form-label-left">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Patient's name <span class="required">*</span>
								</label>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<input type="text" ng-model="patient.patientId" required="required"
										class="form-control col-md-7 col-xs-12">
								</div>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<input type="text" ng-model="patient.name" required="required" value = {{patient.name}}
										class="form-control col-md-7 col-xs-12">
								</div>
								<div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
									<button  class="btn btn-primary" ng-click="getOnePatient(patient.patienId)" type="button">Search
										Patient's ID</button>
								</div>

							</div>

							<div class="form-group">
								<label for="middle-name"
									class="control-label col-md-3 col-sm-3 col-xs-12">Doctor's
									name</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="doctor-name" ng-model="user.username" class="form-control col-md-7 col-xs-12"
										type="text" value= {{user.username}}>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Diagnotics</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="diagnotics" class="form-control col-md-7 col-xs-12"
										type="text" name="diagnotics">
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button class="btn btn-prescript" type="button">Prescript</button>

								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

			<!--               table -->
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>List Treatment</h2>

						<div class="clearfix"></div>
					</div>
					<form class="form-wrapper cf">
						<button type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
						<input class="form-control" ng-model="text_filter" value=""  type="text" placeholder="Search here..." required>
					</form>
					<div class="x_content">

						<div class="table-responsive">
							<table class="table table-striped jambo_table bulk_action">
								<thead>
									<tr class="headings">
										<th class="column-title">ID</th>
										<th class="column-title">Patient's Name</th>
										<th class="column-title">Doctor's Name</th>
										<th class="column-title">Date</th>
										<th class="column-title">Prescription</th>
										<th class="column-title no-link last"><span class="nobr" >View</span>
										</th>

									</tr>
								</thead>

								<tbody >
									<tr class="even pointer">
										<td>121000040</td>
										<td>John Blank L</td>
										<td>Paid</td>
										<td>May 23, 2014 11:47:56 PM</td>
										<td>flu</td>
										<td><a href="#/treatmentdetail">Detail</a></td>
									</tr>


								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

	
		
		
		
		
		