<div id="page-wrapper">

	<div class="container-fluid">

		<div class=" row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="x_panel">
					<div class="x_title ">
						<h2>Patient's Information</h2>

					</div>
					<div class="x_content">
						<br />
						<form id="demo-form2" data-parsley-validate
							class="form-horizontal form-label-left">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-6"
									for="patient-name">Patient's name </span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="patient-name"
										class="form-control col-md-7 col-xs-12" value="ABC">
								</div>

							</div>

							<div class="form-group">
								<label for="address-patient"
									class="control-label col-md-3 col-sm-3 col-xs-6">Address</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="address-patient"
										class="form-control col-md-4 col-xs-6" type="text"
										name="address-patient" value="XYZ">
								</div>
							</div>
							<div class="form-group">
								<label for="dob-patient"
									class="control-label col-md-3 col-sm-3 col-xs-6">Date
									of birth</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="dob-patient" class="form-control col-md-4 col-xs-6"
										type="date" name="dob-patient" value="23/12/1989">
								</div>
							</div>
							<div class="form-group">
								<label for="sex-patient"
									class="control-label col-md-3 col-sm-3 col-xs-6">Sex</label>
								<div class="col-md-3 col-sm-3 col-xs-6">
									<input id="sex-patient" class="form-control col-md-4 col-xs-6"
										type="text" name="sex-patient">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="x_panel">
					<div class="x_title">
						<h2>Doctor's Information</h2>

					</div>
					<div class="x_content">
						<br />
						<form id="demo-form2" data-parsley-validate
							class="form-horizontal form-label-left">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-6"
									for="patient-name">Patient's name </span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="patient-name"
										class="form-control col-md-7 col-xs-12">
								</div>

							</div>

							<div class="form-group">
								<label for="address-patient"
									class="control-label col-md-3 col-sm-3 col-xs-6">Address</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="address-patient"
										class="form-control col-md-4 col-xs-6" type="text"
										name="address-patient">
								</div>
							</div>
							<div class="form-group">
								<label for="dob-patient"
									class="control-label col-md-3 col-sm-3 col-xs-6">Date
									of birth</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="dob-patient" class="form-control col-md-4 col-xs-6"
										type="date" name="dob-patient">
								</div>
							</div>
							<div class="form-group">
								<label for="sex-patient"
									class="control-label col-md-3 col-sm-3 col-xs-6">Sex</label>
								<div class="col-md-3 col-sm-3 col-xs-6">
									<input id="sex-patient" class="form-control col-md-4 col-xs-6"
										type="text" name="sex-patient">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Prescription Drug List</h2>

						<div class="clearfix"></div>
					</div>

					<div class="x_content">

						<div class="table-responsive">
							<table class="table table-striped jambo_table bulk_action">
								<thead>
									<tr class="headings">
										<th class="column-title">No.</th>
										<th class="column-title">Medicine's Name</th>
										<th class="column-title">Diseases</th>
										<th class="column-title">Dosage</th>

									</tr>
								</thead>

								<tbody>
									<tr class="even pointer">
										<td>1</td>
										<td>Accutob</td>
										<td>nhiem trung mat</td>
										<td>Thuốc nhỏ mắt 0,3%</td>

									</tr>
									<tr class="even pointer">
										<td>2</td>
										<td>Accutob</td>
										<td>nhiem trung mat</td>
										<td>Thuốc nhỏ mắt 0,3%</td>

									</tr>
									<tr class="even pointer">
										<td>3</td>
										<td>Accutob</td>
										<td>nhiem trung mat</td>
										<td>Thuốc nhỏ mắt 0,3%</td>

									</tr>
									<tr class="even pointer">
										<td>4</td>
										<td>Accutob</td>
										<td>nhiem trung mat</td>
										<td>Thuốc nhỏ mắt 0,3%</td>

									</tr>
									<tr class="even pointer">
										<td>5</td>
										<td>Accutob</td>
										<td>nhiem trung mat</td>
										<td>Thuốc nhỏ mắt 0,3%</td>

									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class=" row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="x_panel">
					<div class="x_title ">
						<h2>Allergic</h2>

					</div>
					<div class="x_content">
						<br />
						<form id="demo-form2" data-parsley-validate
							class="form-horizontal form-label-left">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-6"
									for="allergic-name">Medicine's Name </span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="allergic-name"
										class="form-control col-md-7 col-xs-12">
								</div>

							</div>

						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="x_panel">
					<div class="x_title">
						<h2>File Attacked</h2>

					</div>
					<div class="x_content">
						<br />
						<form id="demo-form2" data-parsley-validate
							class="form-horizontal form-label-left">


							<label class="control-label col-md-3 col-sm-3 col-xs-6"
								for="file-name">File's name </span>
							</label> <input type="file" id="file-name">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="ln_solid"></div>
		<div class="form-group">
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
</div>