<!-- Content Medicine -->
<section class="content-header">
   <h1>
      Treatment Management
      <small>Control panel</small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Treatment</li>
   </ol>
</section>


<!-- Main content -->
<section class="content">
   <div class="row">
   
   
   		<!-- Add Treatment -->
      <div class="col-md-12">
         <div class="box box-success" >
            <div class="box-header with-border">
               <i class="fa fa-warning"></i>
               <h3 class="box-title">Add New Treatment</h3>
            </div>
            <div class="x_content">
						<br />
						<form id="demo-form2" data-parsley-validate name="treatmentform"
							class="form-horizontal form-label-left">

							<div flex layout="row" ng-cloak>
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="patient-name">Patient's name <span
									class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12" >
									<md-autocomplete required md-input-name="autocomplete"
										md-selected-item="selectedPatient" md-search-text="searchText"
										md-items="item in querySearchAC(searchText)"
										md-item-text="item.name" md-min-length="0"
										placeholder="Enter patient name"> 
										<md-item-template>
									<span class="item-title"> <span> {{item.name}} </span>
									</span> <span class="item-metadata"> <span> address: <strong>{{item.address}}</strong>
									</span> <span> dob: <strong>{{item.dob}}</strong>
									</span>
									</span> </md-item-template> <md-not-found> No match found. </md-not-found>
									<div ng-messages="treatmentform.autocomplete.$error">
										<div ng-message="required">This field is required</div>
									</div>
									</md-autocomplete>
								</div>
							</div>
							<div>[]{{selectedPatient}}</div>

							<div class="form-group">
								<label for="doctor-name"
									class="control-label col-md-3 col-sm-3 col-xs-12">Doctor's
									name<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="doctor-name" class="form-control col-md-7 col-xs-12"
										type="text" name="doctor-name" value={{doctor.name}}
										ng-model="doctor.name" disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Diagnotics<span
									class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="diagnotics" class="form-control col-md-7 col-xs-12"
										required type="text" name="diagnotics"
										ng-model="treatment.prescription">
								</div>
							</div>

<!-- 							SEARCH MEDICINE FOR PRESCRIPTION -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Search
									for medicine</label>
								<div class="col-md-8 col-sm-4 col-xs-12" layout="column"
									ng-cloak>

									<md-content class="md-padding autocomplete" layout="column">
									<md-contact-chips ng-model="medicines"
										md-contacts="querySearch($query)" md-contact-name="name"
										md-require-match="true" md-highlight-flags="i"
										filter-selected="filterSelected"
										placeholder="Enter name medicne"> </md-contact-chips> </md-content>

								</div>
							</div>
							<div>{{medicines}}</div>
<!-- 							END SEARCH MEDICINE FOR PRESCRIPTION -->
<!-- 							SEARCH MEDICINE FOR PRESCRIPTION -->

							<div class="form-group">
								<label for="allergic"
									class="control-label col-md-3 col-sm-3 col-xs-12">Allergic

								</label>
								<div class="col-md-8 col-sm-4 col-xs-12" layout="column"
									ng-cloak>
									<md-content class="md-padding autocomplete" layout="column">
									<md-contact-chips ng-model="allergics"
										md-contacts="querySearch($query)" md-contact-name="name"
										md-require-match="true" md-highlight-flags="i"
										filter-selected="filterSelected"
										placeholder="Enter name medicne"> </md-contact-chips> </md-content>

								</div>
							</div>
							<div>{{allergics}}</div>
<!-- 							END SEARCH MEDICINE FOR PRESCRIPTION -->
							<div class="form-group">
								<label for="selectAller"
									class="control-label col-md-3 col-sm-3 col-xs-12">File
									attacked </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file" id="file-name" ng-model="img">
								</div>
							</div>

							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button class="btn btn-success" type="submit"
										ng-click="createTreatment()">Add treatment</button>
									<button class="btn btn-success" type="submit"
										ng-click=createTreatmentDetail()>Save changes</button>
								</div>

							</div>

						</form>
					</div>
<!-- 					List Treatment -->
      <div class="col-md-12 box box-primary">
				<div class="box-header with-border">
				   <i class="fa fa-bullhorn"></i>
				   <h3 class="box-title">List Treatment</h3>				</div>
				
				<!-- Search -->
				      <div class="col-md-12 col-sm-12 col-xs-12 ser-medicine" >
				         <div class="col-md-8 col-sm-8 col-xs-12 none-padding">
				            <div class="input-group">
				               <div class="input-group-btn">
				                  <button type="submit" class="btn btn-danger">
				                  <i class="fa fa-search" aria-hidden="true"></i>
				                  </button>
				               </div>
				               <input ng-model="search" class="form-control" type="text" placeholder="Search here..." required>
				            </div>
				         </div>
				      </div>
					  
				<!-- /.box-header -->
				   <div class="box-body">
						 <table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th >ID</th>
									<th>Patient's Name</th>
									<th>Doctor's Name</th>
									<th>Date</th>
									<th>Prescription</th>
									<th>Action</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody ng-repeat="treatment in treatments| filter:search">
								<tr>
									<td>{{treatment.id}}</td>
									<td>{{treatment.patientId.name}}</td>
									<td>{{treatment.doctorId.name}}</td>
									<td>{{treatment.date}}</td>
									<td>{{treatment.prescription}}</td>
									<td><button type="button" ng-click="contactchips()" data-toggle="modal" data-target="#modalUpdateTreatment"
											class="btn btn-primary" data-toggle="modal"
											data-target="#MedicineModal">
											<span><i class="fa fa-wrench" aria-hidden="true"></i></span>
										</button>
										</td>
									<td><a href="#/treatment/{{treatment.id}}">Detail</a></td>
								</tr>
							</tbody>
						 </table>
				   </div>
				   <!-- /.box-body -->
				   
			
      </div>
   </div>
   
   
<!-- Modal Create -->
<!-- CREATE PATIENT -->
<div class="modal fade" id="modalUpdateTreatment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="x_content">
						<br />
						<form id="demo-form2" data-parsley-validate name="treatmentform"
							class="form-horizontal form-label-left">

							<div flex layout="row" ng-cloak>
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="patient-name">Patient's name <span
									class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12" >
									<md-autocomplete required md-input-name="autocomplete"
										md-selected-item="selectedPatient" md-search-text="searchText"
										md-items="item in querySearchAC(searchText)"
										md-item-text="item.name" md-min-length="0"
										placeholder="Enter patient name"> 
										<md-item-template>
									<span class="item-title"> <span> {{item.name}} </span>
									</span> <span class="item-metadata"> <span> address: <strong>{{item.address}}</strong>
									</span> <span> dob: <strong>{{item.dob}}</strong>
									</span>
									</span> </md-item-template> <md-not-found> No match found. </md-not-found>
									<div ng-messages="treatmentform.autocomplete.$error">
										<div ng-message="required">This field is required</div>
									</div>
									</md-autocomplete>
								</div>
							</div>
							<div>[]{{selectedPatient}}</div>

							<div class="form-group">
								<label for="doctor-name"
									class="control-label col-md-3 col-sm-3 col-xs-12">Doctor's
									name<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="doctor-name" class="form-control col-md-7 col-xs-12"
										type="text" name="doctor-name" value={{doctor.name}}
										ng-model="doctor.name" disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Diagnotics<span
									class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="diagnotics" class="form-control col-md-7 col-xs-12"
										required type="text" name="diagnotics"
										ng-model="treatment.prescription">
								</div>
							</div>

							<!-- SEARCH MEDICINE FOR PRESCRIPTION -->
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Search
									for medicine</label>
								<div class="col-md-8 col-sm-4 col-xs-12" layout="column"
									ng-cloak>

									<md-content class="md-padding autocomplete" layout="column">
									<md-contact-chips ng-model="medicines"
										md-contacts="querySearch($query)" md-contact-name="name"
										md-require-match="true" md-highlight-flags="i"
										filter-selected="filterSelected"
										placeholder="Enter name medicne"> </md-contact-chips> </md-content>

								</div>
							</div>
							<div>{{medicines}}</div>
							<!--END SEARCH MEDICINE FOR PRESCRIPTION -->
							<!-- SEARCH MEDICINE FOR PRESCRIPTION -->

							<div class="form-group">
								<label for="allergic"
									class="control-label col-md-3 col-sm-3 col-xs-12">Allergic

								</label>
								<div class="col-md-8 col-sm-4 col-xs-12" layout="column"
									ng-cloak>
									<md-content class="md-padding autocomplete" layout="column">
									<md-contact-chips ng-model="allergics"
										md-contacts="querySearch($query)" md-contact-name="name"
										md-require-match="true" md-highlight-flags="i"
										filter-selected="filterSelected"
										placeholder="Enter name medicne"> </md-contact-chips> </md-content>

								</div>
							</div>
							<div>{{allergics}}</div>
							<!--END SEARCH MEDICINE FOR PRESCRIPTION -->
							<div class="form-group">
								<label for="selectAller"
									class="control-label col-md-3 col-sm-3 col-xs-12">File
									attacked </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="file" id="file-name" ng-model="img">
								</div>
							</div>

							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button class="btn btn-success" type="submit"
										ng-click="createTreatment()">Add treatment</button>
									<button class="btn btn-success" type="submit"
										ng-click=createTreatmentDetail()>Save changes</button>
								</div>

							</div>

						</form>
					</div><!-- List Treatment -->
   </div>
</div>
</section>

			