<html>
<head></head>
<body>
	<!-- USER INFOMATION -->
	<table>
		<tr>
			<td><label><b>User Id:</b></label></td>
			<td>{{userLogged.id}}</span></td>
		</tr>
		<tr>
			<td><label><b>User Name:</b></label></td>
			<td>{{userLogged.name}}</td>
		</tr>
		<tr>
			<td><label><b>User role:</b></label></td>
			<td>{{userLogged.rolesList["0"].roles}}</td>
		</tr>
		<tr>
			<td><label><b>Address:</b></label></td>
			<td>{{userLogged.address}}</td>
		</tr>
		<tr>
			<td><label><b>Specialist:</b></label></td>
			<td>{{userLogged.specialist}}</td>
		</tr>
		<tr>
			<td><label><b>Gender:</b></label></td>
			<td>{{userLogged.sex}}</td>
		</tr>
		<tr>
			<td>
				<form th:action="@{/}" method="get">
					<div class="btn-center">
						<button class="btn btn-lock"
							style="background-color: transparent; color: #00b2f9; font-weight: bold;"
							type="Submit">HOME</button>
					</div>
				</form>
			</td>
			<td><button class="btn btn-primary" data-target="#UserModal" data-toggle="modal" ng-click="getCurrentUser()">Update User</button></td>
		</tr>
	</table>

	<!-- UPDATE USER -->
	<form id="myform">
		<div class="modal fade" id="UserModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Update User</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="user-name">Name <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input ng-model="curentUser.name" type="text" id="user-name"
									required="required" class="form-control col-md-7 col-xs-12">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="specialist">Specialist<span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input ng-model="curentUser.specialist" type="text"
									id="specialist" name="specialist" required="required"
									class="form-control col-md-7 col-xs-12">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="address">Address<span class="required">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input ng-model="curentUser.address" type="text" id="address"
									name="address" required="required"
									class="form-control col-md-7 col-xs-12">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="sex">Gender<span class="required">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div id="gender" class="btn-group" data-toggle="buttons">
									<label> <input type="radio" ng-model="curentUser.sex"
										value="Male"> Male
									</label> <label> <input type="radio" ng-model="curentUser.sex"
										value="Female"> Female
									</label>
								</div>
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="password">Password<span class="required">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input ng-model="curentUser.password" type="password"
									id="dosage" name="password" required="required"
									class="form-control col-md-7 col-xs-12">
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button"
							ng-click="updateUser(curentUser.id,curentUser )" data-dismiss="modal"
							class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- end popup form -->
</body>
</html>