<!-- Content Userlist -->
<section class="content-header">
   <h1>
      User Profile
      <small>Control panel</small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">User Profile</li>
   </ol>
</section>


<section class="content">
	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
			<div class="box-body box-profile">
			  <img class="profile-user-img img-responsive img-circle" src="/images/user128x128.png" alt="User profile picture">
		
			  <h3 class="profile-username text-center">{{userLogged.name}}</h3>
		
			  <p class="text-muted text-center">{{userLogged.rolesList["0"].roles}}</p>
		
			  <ul class="list-group list-group-unbordered">
				<li class="list-group-item">
				  <b>Specialist</b> <a class="pull-right">{{userLogged.specialist}}</a>
				</li>
				<li class="list-group-item">
				  <b>Gender</b> <a class="pull-right">{{userLogged.sex}}</a>
				</li>
				<li class="list-group-item">
				  <b>Address</b> <a class="pull-right">{{userLogged.address}}</a>
				</li>
			  </ul>
		
			  <a href="#/" class="btn btn-primary "><b>Back to Home</b></a>
			  <button class="btn btn-primary" data-target="#UserModal" data-toggle="modal" ng-click="getCurrentUser()"><b>Update User</b></button>
			</div>
		<!-- /.box-body -->
		</div>
		</div>
		
		
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
				   <i class="fa fa-bullhorn"></i>
				   <h3 class="box-title">Change Password</h3>
				</div>
				<!-- /.box-header -->
				<form class="form-horizontal" name="signupForm">
				   <div class="box-body">
					  <div class="form-group" ng-class="{'has-error':formData.password.$invalid && !formData.password.$pristine}">
						 <label class="col-sm-4 control-label">Password<span class="required">*</span></label>
						 <div class="col-sm-8">
							<input class="form-control" type="password" id="password" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="20"  placeholder="password" required>
							<p ng-show="signupForm.password.$error.required" class="error"></p>
							<p ng-show="signupForm.password.$error.minlength" class="error">
							  Passwords must be between 5 and 20 characters.</p>
						 </div>
					  </div>
					  <div class="form-group" ng-class="{'has-error':formData.password_c.$invalid && !formData.password_c.$pristine}">
						 <label class="col-sm-4 control-label">Confirm Password<span class="required">*</span></label>
						 <div class="col-sm-8">
							<input class="form-control" type="password" id="password_c" name="password_c" ng-model="formData.password_c" placeholder="confirm password" valid-password-c="user.password" required>
							<p ng-show="signupForm.password_c.$error.noMatch" class="error"><span>Passwords do not match.</span>
							<p ng-show="signupForm.password_c.$error.required" class="error"></p>
						 </div>
					  </div>
				   </div>
				   <!-- /.box-body -->
				   <div class="box-footer">
					  <button type="reset" class="btn btn-default">Reset</button>
					  <button type="submit" ng-click="changePass(user)" class="btn" ng-disabled="!signupForm.$valid">Change Password</button>
				   </div>
				   <!-- /.box-footer -->
				</form>
				<!-- /.form-body -->
			 </div>
		</div>
	</div>
</section>



<!-- ===== Update User ====== -->
<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <button style="color:#fff;" type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
         <h3 class="modal-title" id="myModalLabel">Update User</h3>
      </div>
      <div class="modal-body">
         <form class="form-horizontal form-label-left">
			 <div class="form-group" >
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Name<span class="required">*</span>
				</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
				   <input ng-model="curentUser.name" type="text"
					  required class="form-control col-md-7 col-xs-12">
				</div>
			 </div>
			 <div class="form-group" >
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Specialist<span class="required">*</span>
				</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
				   <input ng-model="curentUser.specialist" type="text"
					  required class="form-control col-md-7 col-xs-12">
				</div>
			 </div>
			 <div class="form-group" >
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Address<span class="required">*</span>
				</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
				   <input  ng-model="curentUser.address" type="text"
					  required class="form-control col-md-7 col-xs-12">
				</div>
			 </div>
			 <div class="form-group" >
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Gender<span class="required">*</span>
				</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<div id="gender" class="btn-group" data-toggle="buttons">
						<label> <input type="radio" ng-model="curentUser.sex"
							value="Male"> Male
						</label> 
						<label> <input type="radio" ng-model="curentUser.sex"
							value="Female"> Female
						</label>
					</div>
				</div>
			 </div>
			 <div class="modal-footer">
				<button class="btn btn-primary btn-in-modal" type="reset">
				<span><i class="fa fa-refresh" aria-hidden="true"></i></span>
				Clear
				</button>
				<button type="button" ng-click="updateUser(curentUser.id,curentUser )" data-dismiss="modal" class="btn btn-success btn-in-modal">
				<span><i class="glyphicon glyphicon-floppy-save" aria-hidden="true"></i></span>
				Save changes
				</button>
			 </div>
         </form>
      </div>
   </div>
</div>
</div>