<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Admin Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="wrapper-reg">
	<div class="regis-form">
		<div class="label-regis">
			<label class="lable-regis" th:text="Registration"></label>
			<hr style="margin-bottom: 0; margin-top: 0;">
		</div>
		<form class="form-horizontal form-mar" autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" role="form">
					
			  <div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
					  <input type="text" th:field="*{name}" placeholder="Name"
									class="form-control transparent-input"
					style=" background-color:rgba(0,0,0,0) !important;
							border:none; box-shadow:none !important;
							border-bottom: 1px #fff solid";
							color: #C3C0C0; />
					</div>
			  </div>
			  <div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-10">
					  <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="validation-message"></label>
					</div>
			  </div>
			  
			  
			  <div class="form-group">
					<label class="col-sm-2 control-label">Username</label>
					<div class="col-sm-10">
					  <input type="text" th:field="*{username}" placeholder="Username"
									class="form-control transparent-input"
					style=" background-color:rgba(0,0,0,0) !important;
							border:none; box-shadow:none !important;
							border-bottom: 1px #fff solid"; />
					</div>
			  </div>
			  <div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-10">
					  <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
									class="validation-message"></label>
					</div>
			  </div>
			  
			  <div class="form-group">
					<label class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
					  <input type="password" th:field="*{password}" placeholder="Password"
									class="form-control transparent-input"
					style=" background-color:rgba(0,0,0,0) !important;
							border:none; box-shadow:none !important;
							border-bottom: 1px #fff solid;color: #C3C0C0;" />
					</div>
			  </div>
			  <div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-10">
					  <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
									class="validation-message"></label>
					</div>
			  </div>
			  
			  
			  <div class="form-group">
					<label class="col-sm-2 control-label">Specialist</label>
					<div class="col-sm-10">
					  <input type="text" th:field="*{specialist}"
									placeholder="specialist" class="form-control transparent-input"
					style=" background-color:rgba(0,0,0,0) !important;
							border:none; box-shadow:none !important;
							border-bottom: 1px #fff solid;color: #C3C0C0;" /> 
					</div>
			  </div>
			  <div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-10">
					  <label th:if="${#fields.hasErrors('specialist')}" th:errors="*{specialist}"
									class="validation-message"></label>
					</div>
			  </div>
			  
			  <div class="form-group">
					<label class="col-sm-2 control-label">Address</label>
					<div class="col-sm-10">
					  <input type="text" th:field="*{address}"
									placeholder="address" class="form-control transparent-input"
					style=" background-color:rgba(0,0,0,0) !important;
							border:none; box-shadow:none !important;
							border-bottom: 1px #fff solid;color: #C3C0C0;" />
					</div>
			  </div>
			  <div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-10">
					  <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
									class="validation-message"></label>
					</div>
			  </div>
			  
			  
			  <div class="form-group">
					<label class="col-sm-2 control-label">Sex</label>
					<div class="col-sm-10">
						<div class="btn-radio">
						  <ul>
								<li>
									<input type="radio" id="f-option" name="selector">
									<label for="f-option">Male</label>
						
									<div class="check"></div>
								</li>
						  
								<li>
									<input type="radio" id="s-option" name="selector">
									<label for="s-option">Female</label>
						
									<div class="check"><div class="inside"></div></div>
								</li>
						
							</ul>
						</div>
					</div>
			  </div>
			  <div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-10">
					  <label th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"
									class="validation-message"></label>
					</div>
			  </div>
			  
			  <div class="row btn-center">
				  <button type="submit" class="btn btn-primary">Register User</button>
			  </div>
		</form>
		
		<form th:action="@{/}" method="get">
			<div class="btn-center">
				<button class="btn btn-md btn-warning " type="Submit">Login</button>
			</div>
		</form>	
		
		<span th:utext="${successMessage}"></span>
	</div>
	
	</div>
</body>
</html>