<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Patients Profile Management</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	
<!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Welcome to<strong> CSC Clinic!!!</strong></h1>
                            <div class="description">
                            	<p>
	                            	Patient Profile Management
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h2 style="color: #fff; font-weight: bold;">Register User</h2>
                        		</div>
                        		
                            </div>
                            <div class="form-bottom">
			                    <form role="form" autocomplete="off" action="#" th:action="@{/registration}"class="form-horizontal"
									th:object="${user}" method="post">
								
			                    	<div class="form-group">
			                    		<label class="col-sm-2 control-label">Full Name</label>
										<div class="col-sm-10">
										  <input type="text" th:field="*{name}" placeholder="Name" class="form-control" />
										</div>
			                        </div>
									<div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
										  <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
										</div>
								  </div>
								  
								  
			                       <div class="form-group">
										<label class="col-sm-2 control-label">Username</label>
										<div class="col-sm-10">
										  <input type="text" th:field="*{username}" placeholder="Username" class="form-control"/>
										</div>
								  </div>
								  <div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
										  <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
										</div>
								  </div>
								  
								  
								  <div class="form-group">
										<label class="col-sm-2 control-label">Password</label>
										<div class="col-sm-10">
										  <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
										</div>
								  </div>
								  <div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
										  <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
										</div>
								  </div>
								  
								  
								  <div class="form-group">
										<label class="col-sm-2 control-label">Specialist</label>
										<div class="col-sm-10">
										  <input type="text" th:field="*{specialist}" placeholder="specialist" class="form-control"/> 
										</div>
								  </div>
								  <div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
										  <label th:if="${#fields.hasErrors('specialist')}" th:errors="*{specialist}" class="validation-message"></label>
										</div>
								  </div>
								  
								  <div class="form-group">
										<label class="col-sm-2 control-label">Address</label>
										<div class="col-sm-10">
										  <input type="text" th:field="*{address}" placeholder="address" class="form-control" />
										</div>
								  </div>
								  <div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
										  <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="validation-message"></label>
										</div>
								  </div>
								  
								  
								  <div class="form-group">
										<label class="col-sm-2 control-label">Sex</label>
										<div class="col-sm-10">
											<div class="btn-radio">
											  
												<input type="radio" id="f-option" name="sex" value="Male" checked>
												<label for="f-option">Male</label>
									
												<div class="check"></div>
											
												<input type="radio" id="s-option" name="sex" value="Female">
												<label for="s-option">Female</label>
									
												<div class="check"><div class="inside"></div></div>
													
											</div>
										</div>
								  </div>
								  
								  
			                        <button type="submit" class="btn">Register User!</button>
			                    	<span th:utext="${successMessage}"></span>
			                    </form>
								
		                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script type="text/javascript" th:src="@{/js/jquery.backstretch.min.js}"></script>
  	<script type="text/javascript">
  		jQuery(document).ready(function() {
  			$.backstretch("/images/regis.png");
  		});
  	</script>
</body>
</html>