<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp" class="no-js">

<head>
	<title>Admin Page</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/_all-skins.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/js/lib/angular-1.4.9/angular-material.min.css}" />
	
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/js/wow.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/handle.js}"></script>
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>

</head>

<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b><i class="fa fa-stethoscope" aria-hidden="true"></i></b> CSC Clinic</span>
            </a>
            
			
			<!-- Sidebar right -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i> <span th:text="${userName}" th:remove="tag"></span> <b class="caret"></b>
                                <!--<span class="label label-danger">9</span> -->
                            </a>
                            <ul class="dropdown-menu">
								<li class="header"><a href="#/userProfile"><i class="fa fa-fw fa-user"></i> Profile</a></li>
 								<!-- <li class="header"><a href="#/changePass"><i class="fa fa-fw fa-user"></i> Change Password</a></li> -->
                                <li >
                                    <form th:action="@{/logout}" method="get" >
										<button class="astext" name="logout" type="submit"> 
											<span><i class="fa fa-fw fa-power-off"></i></span>
											Logout
										</button>
									</form>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav> <!-- End sidebar -->
        </header>
		
		
        <!-- Left sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar">

                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
						<img th:src="@{/images/user.png}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p><span th:text="${userName}" th:remove="tag"></span></p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
					<li class="active"><a href="#/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
					<li><a href="#/patient"><i class="fa fa-wheelchair"></i> <span>Patient</span></a></li>
					<li><a href="#/medicine"><i class="fa fa-plus"></i> <span>Medicine</span></a></li>
					<li><a href="#/treatment"><i class="fa fa-table"></i> <span>Treatment</span></a></li>
					
					
					
					 
                </ul>
            </section>
            <!-- / left sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div ng-view></div>
        </div>
        
        
        <!-- /Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; March - 2017 -------<a >CSC Fresher</a>-------</strong>
        </footer>


        <!-- Add the sidebar's background. This div must be placed 
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
<!-- ./wrapper -->
    
		<script type="text/javascript" th:src="@{/js/lib/angular-1.4.9/angular.js}"></script>
		<script type="text/javascript" th:src="@{/js/lib/angular-1.4.9/angular-resource.js}"></script>
		<script type="text/javascript" th:src="@{/js/lib/angular-1.4.9/angular-route.js}"></script>
		<script type="text/javascript" th:src="@{/js/lib/angular-1.4.9/angular-animate.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/lib/angular-1.4.9/angular-aria.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/lib/angular-1.4.9/angular-messages.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/lib/angular-1.4.9/angular-material.min.js}"></script>
		
		<script type="text/javascript" th:src="@{/js/app.js}"></script>
		<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
		
		<script type="text/javascript" th:src="@{/js/service/PatientService.js}"></script>
		<script type="text/javascript" th:src="@{/js/service/UserService.js}"></script>
		<script type="text/javascript" th:src="@{/js/service/MedicineService.js}"></script>
		<script type="text/javascript" th:src="@{/js/service/TypeMedicineService.js}"></script>
		<script type="text/javascript" th:src="@{/js/service/TreatmentService.js}"></script>
		<script type="text/javascript" th:src="@{/js/service/TreatmentDetailService.js}"></script>
		
		<script type="text/javascript" th:src="@{/js/controller/Home.js}"></script>
		<script type="text/javascript" th:src="@{/js/controller/PatientController.js}"></script>
		<script type="text/javascript" th:src=@{/js/controller/MedicineController.js}></script>
		<script type="text/javascript" th:src=@{/js/controller/UserController.js}></script>
		<script type="text/javascript" th:src=@{/js/controller/TreatmentController.js}></script>
		
		<script type="text/javascript " th:src=@{/js/controller/TreatmentDetailController.js}></script>	
		
	
</body>
</html>