* Navigation Bar */

.container-fluid {
    margin-left: 20px;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-default {
    /* background-color: #267D90; */
    background-color: #46a1b4;
    border: 0px;
    background-image: none;
}
* {
    outline: none !important;
}
button.navbar-toggle {
    z-index: 999999;
}
.navbar-toggle {
    background-color: #fff;
}
.navbar-default .navbar-header .logo {
    font-size: 32px;
    color: #fff;
}
.logo {
    font-family: 'Dosis', sans-serif;
}
@media only and screen (min-width: 1200px){
	.navbar-collapse.collapse {
	    display: block!important;
	    height: auto!important;
	    /* padding: 10px 0px; */
	    overflow: visible!important;
	}
}


.navbar-fixed-top .navbar-collapse {
    /* max-height: 415px; */
}
@media only screen and(min-width: 1200px){
	.navbar-collapse {
	    width: auto;
	    border-top: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
}
.nav.navbar-nav {
    padding: 0px 20px;
}

ul li {
    list-style: none;
    display: inline-block;
}
.navbar-default .navbar-nav>li>a {
    /* text-shadow: 1px 1px 0px #20606D; */
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 16pt;
}
@media only screen and (min-width: 768px){
	.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
	}
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    background-color: #46a1b4;
    border: 0px;
    opacity: 0.7;
    color: #fff;
}
.dropdown-menu>li {
    display: block;
}
.dropdown-menu>li>a {
    display: block;
    padding: 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    font-size: 16pt;
    font-family: 'PT Sans', sans-serif;
    white-space: nowrap;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}
.astext{
	text-align: left;
    width: 100%;
    border: none;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{
	background-color: #20606D;
    background-image: none;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a:hover{
	background-color: #20606D;
    background-image: none;
    color: #fff;
}
.nav >li> a:hover{
	background-color: #20606D;
	display: block;
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	background-color: #20606D;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover
{
	color: #fff;
	background-color: #20606D;
	box-shadow: none;
}
.navbar-default .navbar-nav > .open > a:focus{
	background-color: #20606D;
	color: #fff;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
	background-color: #20606D;
}
/*************************
********Slider CSS**********
**************************/
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 825px;
  }
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blur-slider{
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
}
.carousel-control.left, .carousel-control.right{
	background-image: none;
}
.carousel-caption{
	right: inherit;
	left: 7%;
	font-size: 20px;
	margin-bottom: 100px;
}
.carousel-caption > div{
	font-size: 50px;
	font-weight: bold;
}
.carousel-caption > p{
	font-size: 30px;
	font-weight: bold;
}
.animated{
	animation-duration: 2s;
}

.dropdown-menu>li>a {
    color:#fff;
} 
.dropdown-menu>li:hover {
    background-color:#fff !important;
}
.dropdown ul.dropdown-menu {
    box-shadow:none;
}

.dropdown:hover .dropdown-menu  {
    display: block;
}
.body-content{
	margin-top: 70px;
}

