.loginform {    
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 8%;
}
.btn-md{
	background-color:#20606D;
}
.form-signin {
  padding: 30px;
  background-color: #eee;
  }

.form-signin-heading {
  text-align:center;
  font-size: 25px;
  margin-bottom: 30px;
  color: #20606D;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.mar-item{
    margin-bottom: 20px;
    text-align:center;
}
.mar-item > .inner-addon > input{
    margin-left: auto;
    margin-right: auto;
    height:45px;
    font-size:13px;
    font-weight:bold;
    background-color:#f0eef1;
}
.mar-item > div > i{
    margin-top: 2px;
}
.mar-item > button{
    width: 40%;
    color: white;
    font-weight: bold;
    height: 40px;
}
.mar-item > p {
    color: #929292;
    font-weight:bold;
}
