@CHARSET "ISO-8859-1";

.wrapper-reg{
	/* background-image: url('../images/background_login.jpg'); */
	background: -webkit-linear-gradient(167deg, rgb(32, 220, 213), rgb(198, 127, 17));
  	background: linear-gradient(167deg, rgb(32, 220, 213), rgb(198, 127, 17));
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 8%;
    padding-bottom: 11.5%;
}
.regis-form{    
	background: rgba(0, 0, 0, 0.4);
}
.label-regis{
    
    color: #fff;
    margin-bottom: 40px;
}
.lable-regis {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: normal;
    margin-bottom: unset;
}
hr{
	margin-top: 0;
	margin-bottom: 0;
    border-color: #fff;
    margin-left: 6%;
    margin-right: 6%;
}
.form-mar{
	margin-left: 6%;
    margin-right: 6%;
}
.form-mar > .form-group > label{
	color: #fff;
}
.btn-center{
	text-align: center;
	padding-bottom: 20px;
}
.validation-message{
	color: #7d1515;
}
.btn-radio{
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0; left:0; right: 0; top:0;
  padding: 0;
}
ul li{
  color: #C3C0C0;
  display: block;
  position: relative;
  float: left;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
	font-weight: normal;
    display: block;
    position: relative;
    font-size: 17px;
    padding: 5px 5px 5px 60px;
    /* margin: 0px auto; */
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear
}
ul li .check{
  display: block;
    position: absolute;
    border: 4px solid #C3C0C0;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 4px;
    left: 30px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li .check::before {
  display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 7px;
    width: 7px;
    top: 2px;
    left: 2.7px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check::before{
  background: #C3C0C0;
}

input[type=radio]:checked ~ label{
  color: #C3C0C0;
}
